html, body {
	height: 100%;
}

body {
	background: #FFF;
	background-image: url("../img/landing-bg-test.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow-y: scroll !important;
}

#main-container {
	min-height: 80%;
	margin-bottom: 30px;
}

#main-content {
	min-height: 80%;
	background: #FFF;
	padding: 30px;
	background: #FFF;
	box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.5);
}

.headertext {
	color: #FFF;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.6);
	text-align: center;
	min-height: 130px;
}

.headertext h2, .headertext h1 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

/* Navbarissa oleva firman nimi */
.brand-logo {
	margin-left: 20px;
}

/* Fonttien kokoja */
.pienifontti {
	font-size: 9pt;
}

.errori {
	color: #ef5350;
}

.errori-light {
	color: #ef9a9a;
}

/* Hallintasivulla ID:t boldilla */
.strong-id {
	font-weight: bold;
}

/* Tab nav scrolling jemmaan */
.tabs {
	overflow: hidden;
}

h1, h2, h3 {
	text-align: center;
}

h1 {
	font-size: 36pt;
	margin-top: 0px;
}

h2 {
	font-size: 30pt;
}

h3 {
	font-size: 24pt;
}

.brand-logo {
	font-family: 'Pacifico', cursive;
	letter-spacing: 4px;
}

.firmanlogo {
	font-size: 56pt;
	font-family: 'Pacifico', cursive;
	letter-spacing: 6px;
	margin-top: 10px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.taytediv {
	margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
	.small-centteri {
		text-align: center;
	}
	body {
		background-size: 100% 400px;
	}
}

.footeri {
	color: #FFF;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.loginmodaali {
	max-width: 450px;
}

/* Navbar tyylit */
nav {
	background: rgba(0, 0, 0, 0.6);
	box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.4);
}

.nav-scrolled {
	background: rgba(0, 0, 0, 0.6);
	box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.4);
}

/* Isoilla näytöillä navbar tausta ylhäällä pois */
@media only screen and (min-width: 992px) {
	nav {
		background: none;
		box-shadow: none;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	.nav-scrolled {
		background: rgba(0, 0, 0, 0.6);
		box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.4);
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
	}
}

@media only screen and (max-width: 992px) {
	h1 {
		margin-top: 20px;
	}
}

/* Menu-sivun asetuksia */
.menu-pizzaname {
	font-family: 'Martel', serif;
	margin-top: 10px;
	margin-bottom: 10px;
}
.menu-pizzataytteet {
	font-family: 'Martel', serif;
	font-size: 14pt;
}
.menu-pizzakuvaus {
	max-width: 90%;
	font-family: 'Raleway', sans-serif;
	font-size: 14pt;
	margin: 5px auto;
}
.menu-pizzahinta {
	margin-left: 20px;
	font-size: 18pt;
	vertical-align: middle;
}
.menu-title {
	font-size: 40pt;
}
