html, body {
	height: 100%;
}

body {
	background: linear-gradient(#CCC, #EEE);
	background-repeat: no-repeat;
	background-color: #EEE;
}

#main-container {
	background: #FFF;
	padding: 20px;
	margin-bottom: 30px;
	border-radius: 0px 0px 50px 50px;
	min-height: 80%;
}

/* Navbarissa oleva firman nimi */
.brand-logo {
	margin-left: 20px;
}

/* Fonttien kokoja */
.pienifontti {
	font-size: 9pt;
}

.errori {
	color: #ef5350;
}

.errori-light {
	color: #ef9a9a;
}

/* Hallintasivulla ID:t boldilla */
.strong-id {
	font-weight: bold;
}

/* Tab nav scrolling jemmaan */
.tabs {
	overflow: hidden;
}

h1, h2, h3 {
	text-align: center;
}

h1 {
	font-size: 36pt;
}

h2 {
	font-size: 30pt;
}

h3 {
	font-size: 24pt;
}

.brand-logo {
	font-family: 'Pacifico', cursive;
	letter-spacing: 4px;
}

.firmanlogo {
	font-size: 56pt;
	font-family: 'Pacifico', cursive;
	letter-spacing: 6px;
	margin-top: 10px;
}

.taytediv {
	margin-bottom: 25px;
}